[user]
	name = cosine
	email = trash@cosine.online
	name = Luna Phipps-Costin
	email = phipps-costin.l@northeastern.edu
[credential]
	helper = cache
[alias]
	quickserve = daemon --verbose --export-all --base-path=.git --reuseaddr --strict-paths .git/
	new = !git init && git symbolic-ref HEAD refs/heads/main
[push]
	default = current
[init]
	defaultBranch = main
#[diff]
#	tool = difftastic
#  external = difft
#[difftool]
#	prompt = false
[difftool "difftastic"]
	cmd = difft "$LOCAL" "$REMOTE"
[pager]
#	difftool = true
	diff = delta --light
	log = delta --light
	reflog = delta --light
	show = delta --light
[url "https://github.com/"]
	insteadOf = git://github.com/
