[user]
	name = cosine
	email = trash@cosine.online
[credential]
	helper = cache
[alias]
	quickserve = daemon --verbose --export-all --base-path=.git --reuseaddr --strict-paths .git/
	new = !git init && git symbolic-ref HEAD refs/heads/main
[push]
	default = current
[init]
	defaultBranch = main
