#!/bin/sh

run () {
  if ! pgrep $1 ;
  then
    "$@" &
  fi
}

xmodmap /home/luna/.Xmodmap
# this.... shouldn't be necessary?? but
xset r rate 175 40
xrdb ~/.Xresources

run picom -b
run xcape
run kdeconnect-indicator
run libinput-gestures &
nitrogen --restore

