#!/bin/sh

run () {
  if ! pgrep $1 ;
  then
    "$@" &
  fi
}

./.wacom.sh
xmodmap /home/luna/.Xmodmap
libinput-gestures-setup start
# this.... shouldn't be necessary?? but
xset +fp ~/.local/share/fonts
xset r rate 160 30
xrdb ~/.Xresources

run kak -s lapis -d
run redshift &
run picom --experimental-backends -b
run xcape
run kdeconnect-indicator
nitrogen --restore

