*.font: -*-dina-medium-r-*-*-*-100-*-*-*-*-*-*
!*.font: -*-tamzen-medium-*-*-*-20-*-*-*-*-*-*-*

*.scrollBar: false

*.perl-ext-common: default,matcher
*.url-launcher: /usr/bin/xdg-open
*.matcher.button: 1

! vncviewer
grabKeyboard: true

